:root {
  --rhythm: 10px;
  --font-sans: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-serif: "IBM Plex Serif", "Iowan Old Style", Georgia, serif;
  --color-text: #40577c;
  --color-text-light: #919eb4;
  --color-text-dark: #193158;
  --color-accent: #0545aa;
  --color-accent-light: #eaeaef;
}

html,
body {
  font-size: 16px;
  font-family: var(--font-sans);
  color: var(--color-text);
  text-rendering: optimizeLegibility;
  line-height: 1.6;
}

.container {
  width: 95%;
  max-width: 1140px;
  margin: 0 auto;
}

main {
  padding: calc(8 * var(--rhythm)) 0;
  width: 45%;
}

@media screen and (max-width: 900px) {
  main {
    width: 60%;
  }
}

@media screen and (max-width: 650px) {
  main {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  main {
    width: 95%;
  }
}

blockquote {
  border-left: 1px solid var(--color-accent-light);
  margin-left: 0;
  margin-bottom: calc(3 * var(--rhythm));
  margin-top: calc(3 * var(--rhythm));
  padding-left: calc(2 * var(--rhythm));
}

blockquote p {
  color: var(--color-text-dark);
  font-family: var(--font-serif);
  font-style: italic;
  font-size: 1.1rem;
  margin-bottom: calc(1 * var(--rhythm));
}

blockquote div {
  font-family: var(--font-sans);
  font-size: 0.9em;
  color: var(--color-text-light);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-accent-light);
  margin: calc(5 * var(--rhythm)) 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  border-bottom: 1px solid var(--color-accent-light);
  transition: border-color 0.3s ease;
}

a:hover {
  border-color: var(--color-accent);
}

.logo {
  height: 1.5em;
  width: auto;
}

.downloads {
  margin-top: calc(3 * var(--rhythm));
  display: flex;
}

.download-button {
  font-family: var(--font-sans);
  padding: 15px 20px;
  border: 1px solid var(--color-accent-light);
  margin-right: calc(2 * var(--rhythm));
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  white-space: nowrap;
  transition: background 0.3s ease;
}

.download-button:hover {
  background: #eaeaef44;
}

.download-button-icon {
  height: 1.5em;
  width: 1.5em;
  margin-right: var(--rhythm);
}

.footer {
  font-family: var(--font-sans);
  color: var(--color-text-light);
  font-size: 0.9em;
}
